<h1><%= @facade.vendor_info.name %></h1>

Contact Info: <br>
Name: <%= @facade.vendor_info.name %><br>
Phone: <%= @facade.vendor_info.contact_phone %><br>
Credit Accepted: <%= @facade.vendor_info.credit_accepted %><br>

Description: <%= @facade.vendor_info.description %>